<html>
    <head>
        <meta charset="utf-8">
        <style>
         body { size: A4; padding-top: 2em; padding-bottom: 2em }
         .pgbr { page-break-after: always; visibility: hidden }
         .title { margin-bottom: 1.5rem; text-align: center }
         div.note { font-size: .8em }
         table { border-collapse: collapse; max-width: 92%; margin: 1em auto }
         th, td { border-bottom: solid 1px #555; }
         td div { break-before: avoid-page; break-after: avoid-page; break-inside: avoid-page }
         td { padding-top: .3em; padding-bottom: .3em; break-inside: avoid-page }
         td.date { min-width: 7em; text-align: right; padding-right: 1em }
         td.counter { min-width: 8.5em; padding-right: .5em }
         td.note { min-width: 12em }
         td.amount { text-align: right; min-width: 7em }
         td.balance { text-align: right; min-width: 10em; padding-right: 1em }
        </style>
    </head>
    <body>
        <%= @journals.join("<hr class='pgbr' />\n") %>
    </body>
</html>
